body {
  background-color: white;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  color: rgb(61, 53, 112);
  font-size: x-large;
  font-weight: 900;
  align-items: center;
}

button {
  font-weight: 800;
  padding: 10px;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(243, 211, 243);
  transition: 0.5s;
}
